body{
    font-family: 'Cinzel', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,orangered);
    padding:10px 40px;
    color: azure;
    font-weight: 800;
    border-radius: 7px;
    
}

.half-width figcaption{
    text-align: center;
    background-image: linear-gradient(whitesmoke,silver);
   color:grey;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#padding-right{
    padding-right: 100px;

}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 20px gray;
    margin-left: 6%;
    margin-right: 6%;
    padding-left: 20px;
    border-radius: 2px;
}
.bottom-part{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#border1{
    border-left: 7px solid;
    border-image: linear-gradient(orange,salmon);
    border-image-slice: 2;
}
#border2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 2;
}
footer p{
    text-align: center;
}
